{{view ClassList.EditableListView}}

<p>
  <button {{action updateGroups}}>
    {{#if groupsEmpty}}
      Create the lists
    {{else}}
      Update the lists
    {{/if}}
  </button>
</p>

{{#if groupsEmpty}}

  <p class="instructions">To get started, type in your students' names and press the button.</p>

{{else}}

  {{#each groups}}

    {{#view}}
      <h2>List {{view._parentView.contentIndex}}</h2>
    {{/view}}

    <table class="group-list">
      {{#each this}}
        <tr>
          {{#each this }}
           <td>{{name}}</td>
          {{/each }}
        </tr>
      {{/each}}
    </table>

  {{/each}}

{{/if}}