<section class="input">
  {{view Parachute.EditableListView}}

  <p>
    <button {{action updateListsOfPairs}}>
      {{#if listsOfPairsEmpty}}
        Generate
      {{else}}
        Update
      {{/if}}
    </button>
  </p>
</section>

  {{#if listsOfPairsEmpty}}

  <section class="instructions">
    <p>
      Teachers often need to group students to work together. Parachute is a tool by <a href="/">Landon Schropp</a> that generates lists of pairs where each student works with every other student one time.
    </p>
  </section>

  {{else}}

    {{#each listsOfPairs}}
      <section class="pairs">
        <h2>List {{index}}</h2>

        <table>
          {{#each this}}
            <tr>
              {{#each this }}
               <td>{{name}}</td>
              {{/each }}
            </tr>
          {{/each}}
        </table>
      </section>

    {{/each}}

  {{/if}}
</section>